{% load staticfiles %}
<html>
  <head>
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}"
          rel="stylesheet">
  </head>

  <body>
  	<nav>
  		<a href="{% url 'establishments.views.index' %}">Establishments</a>
  		{% if user %}
  			<a href="{% url 'login.views.logout' %}">Log out</a>
  		{% else %}
  			<a href="{% url 'login.views.login' %}">Log in</a>
  		{% endif %}
  		{% if user and user.is_admin %}
  			<a href="{% url 'admin.views.index' %}">Admin</a>
  		{% endif %}
  	</nav>
    {% block content %}
    {% endblock %}
  </body>
</html>