{% extends "common/base.html" %}

{% block content %}

<h2> Username : {{ searched_user.name }} </h1>
<h3> Email : {{ searched_user.email }}</h2>

{% if user and user.is_admin %}
	<ul>
		<li><a href="/admin/edit_user/{{ searched_user.name }}">Edit</a></li>
		<li><a href="/admin/delete_user/{{ searched_user.name }}">Delete</a></li>
	</ul>
{% endif %}

	<h3> Commented bars: </h3>
    {% if bars_list %}
        <ul>
        {% for bar in bars_list %}
            <li><a href="/establishments/bar/{{ bar.establishment_id }}/">{{ bar.name }}</a></li>
        {% endfor %}
        </ul>
    {% endif %}

    <h3> Commented restaurants: </h3>
    {% if restaurants_list %}
        <ul>
        {% for restaurant in restaurants_list %}
            <li><a href="/establishments/restaurant/{{ restaurant.establishment_id }}/">{{ restaurant.name }}</a></li>
        {% endfor %}
        </ul>
    {% endif %}

    <h3> Commented hotels: </h3>
    {% if hotels_list %}
        <ul>
        {% for hotel in hotels_list %}
            <li><a href="/establishments/hotel/{{ hotel.establishment_id }}/">{{ hotel.name }}</a></li>
        {% endfor %}
        </ul>
    {% endif %}

    <h3> Tag applied: </h3>
    {% if tags_list %}
        <ul>
        {% for tag in tags_list %}
            <li>{{ tag.name }}</li>
        {% endfor %}
        </ul>
    {% endif %}

{% endblock %}