
{% extends 'common/base.html' %}
{% block content %}
	<style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 50%;
        width: 40%;
      }
    </style>
	{% load dictionary_tag %}
	{% block establishment_name %}
	<h1> Establishment: {{ establishment.name }} </h1>
	{% endblock %}

	{% block admin_manip %}
	{% endblock %}

	<h2> Tel: {{ establishment.phone_number }} <h2>

	{% if establishment.website %}
	<h2> Website : <a href=http://{{website}}>{{ establishment.website }} </a></h2>
	{% endif %}

	<h3> Address: </h3>
	<ul>
		<li> Street: {{ establishment.address_street }} </li>
		<li> Number: {{ establishment.address_number }} </li>
		<li> Post code: {{ establishment.address_postcode }} </li>
		<li> Locality: {{ establishment.address_locality }} </li>
		<li> Longitude: {{ establishment.gps_longitude }} </li>
		<li> Latitude: {{ establishment.gps_latitude }} </li>
	</ul>

	<h3> Tags: </h3>
	{% if tags_list %}
		<ul>
		{% for tag in tags_list %}
			<li> {{ tag.tag_name }} x{{ tags_score|get_item:tag.tag_name }}</li>
		{% endfor %}
		</ul>
	{% endif %}

	{% if average_score %}
		<h3>Average score: {{ average_score }}/5 </h3>
	{% endif %}

	<h3> Comments: </h3>
	{% if comments_list %}
		<ul>
		{% for comment in comments_list %}
			<li> {{ comment.user_name }} - {{comment.score}}/5 - {{ comment.written_date}} <br> {{ comment.comment_text }}</li>
		{% endfor %}
		</ul>
	{% endif %}

	{% if add_comment_form %}
	<h3> Add a comment: </h3>
	<form action="/establishments/addComment/" method="post">
		{% csrf_token %}
	    {{ add_comment_form }}
	    <input type="submit" value="Submit" />
	</form>
	{% endif %}

	{% block specific_infos %}
	LoL
	{% endblock %}

	<div id="map"></div>
    <script>
      var map;
      var latitude = {{ establishment.gps_latitude }};
      var longitude = {{ establishment.gps_longitude }};
      var myLatLng = {lat: latitude, lng: longitude};
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: latitude, lng: longitude },
          zoom: 15
        });
        var marker = new google.maps.Marker({
    		position: myLatLng,
   			map: map,
    		title: 'Establishment'
  		});
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBxbAXHlETOBHdvE8MN-VMICV4f8cJI_9A&callback=initMap"
    async defer></script>

	Created by: {{ establishment.creator_name}}, on {{ establishment.created_time}}.

{% endblock %}